@{
    ViewBag.Title = "Elérhetőség";
}

<h2>Elérhetőség</h2>

<img id=elerhetoseg src="~/Image/Base/klub1.jpg" alt="Végállomás Klub" />

<h3>Cím:</h3>
<p>
    Szombathely, Körmendi út 92.
</p>

<h3><img src="~/Image/Base/face.png" alt="Facebook logo" />Facebook:</h3>
<p>
    <a href="https://www.facebook.com/klub.vegallomas">https://www.facebook.com/klub.vegallomas</a>
</p>

