@{
    ViewBag.Title = "Technika";
}

<h2>Technika</h2>

<fieldset>
    <legend><h3>Színpad:</h3></legend>
    <h4>Hangfalak</h4>
    <ul>
        <li>2*2db Peavey 215 (350/700 W)</li>
        <li>6db Peavey Pro-15 (300/600 W)</li>
    </ul>
    <h4>Végfokok</h4>
    <ul>
        <li>4db Peavey CS800 (4x400W/2 Ohm, 4x300W/4 Ohm, 2x825W/4 Ohm)</li>
        <li>2db Peavey CS1400 (2x700W/2 Ohm, 2x500W/4 Ohm, 1x1400W/4 Ohm)</li>
        <li>1db Peavey 1500 (2x750W/2 Ohm, 2x500W/4 Ohm, 2x300W/8 Ohm)</li>
    </ul>
    <h4>Keverőpult:</h4>
    <ul>
        <li>Peavey 32FX</li>
    </ul>
    <h4>Effektek:</h4>
    <ul>
        <li>1db Peavey Kosmos V2</li>
        <li>1db Peavey 231EQ (2*31 EQ)</li>
        <li>1db Peavey 215EQ (2*15 EQ)</li>
    </ul>
    <h4>Mikrofonok:</h4>
    <ul>
        <li>3db Shure SM58</li>
        <li>1db Shure SM57</li>
        <li>3db Shure PG57</li>
        <li>1db Shure PG52</li>
        <li>1db Fame MS55</li>
        <li>1db Peavey dob mikrofon szett</li>
        <li>1db Peaveay PV I 100</li>
    </ul>
    <h4>Monitorok:</h4>
    <ul>
        <li>5db Peavey 15M (250/500 W)</li>
        <li>6db M12 (140/280 W)</li>
    </ul>
    <h4>Állványok:</h4>
    <ul>
        <li>8db gémes mikrofon-állvány</li>
        <li>2db talpas mikrofon-állvány</li>
        <li>1db billentyű-állvány</li>
    </ul>
</fieldset>

<fieldset>
    <legend><h3>Disco</h3></legend>
        <h4>Hangfalak</h4>
    <ul>
        <li>2db Peavey 115 (200/400 W)</li>
        <li>2db Peavey 118 (200/400 W)</li>
    </ul>
    <h4>Végfok</h4>
    <ul>
        <li>1db Peavey CS800 (4x400W/2 Ohm, 4x300W/4 Ohm, 2x825W/4 Ohm)</li>
        <li>1db Peavey 1500 (2x750W/2 Ohm, 2x500W/4 Ohm, 2x300W/8 Ohm)</li>
    </ul>
    <h4>Keverőpult</h4>
    <ul>
        <li>1db Peavey PV14</li>
    </ul>
    <h4>Mikrofon</h4>
    <ul>
        <li>1db Thomson</li>
    </ul>

</fieldset>

